
<header class="main-header">

  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>P</b>T</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Project</b>Test</span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
          <li *ngIf="notification !== undefined" class="dropdown messages-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-envelope-o"></i>
                <span class="label label-success">{{notification.length}}</span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">You have {{notification.length}} notifications</li>
                <li>
                  <!-- inner menu: contains the actual data -->
                  <ul class="menu">
                    <li  *ngFor="let notifications of notification" ><!-- start message -->
                      <a [routerLink]="['users']">
                        <h4>
                          New User
                        </h4>
                        <p >{{notifications.message}}</p>
                      </a>
                    </li>

                  </ul>
                </li>
                <!-- <li class="footer"><a href="#">See All Messages</a></li> -->
              </ul>
            </li>
        <li class="dropdown messages-menu">
        <li *ngIf="UserObj !== undefined" class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="dist/img/user2-160x160.PNG" class="user-image" alt="User Image">
            <!-- <span class="hidden-xs">{{UserObj.user.name +" "+ UserObj.user.lastName}}
              </span> -->
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="dist/img/user2-160x160.PNG" class="img-circle" alt="User Image">

              <!-- <p>
                {{UserObj.user.name +" "+ UserObj.user.lastName}}
                <small>{{UserObj.user.jobDescription}}</small>
              </p> -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a [routerLink]="['']" class="btn btn-default btn-flat">Read Requirement</a>
              </div>
              <div class="pull-right">
                <a style="cursor:pointer" (click)="logout()" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>

  </nav>
</header>