@import url('https://fonts.googleapis.com/css?family=Coiny');

.top-bar-title {
    font-family: 'Coiny', cursive;
    font-size: 22px;
    color: #2166fa;
}

.nav-menu a {
    color: #1a0202;
}
.home{
    width: 100%
}
